- we can store the output values by using append operations by taking empty list variable

In [1]:
square_list=[]
for i in range(10):
    square_list.append(i*i)

square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

$pattern-1$

**Only for loop**

In [ ]:
#syntax is 
#[<output> <for loop>]

In [2]:
square_list=[]
for i in range(10):
    square_list.append(i*i)
square_list

#q1) what is output?i*i
#q2) what is output listname? square_list
#q3) what is for loop ? for i in range(10)
#[<output> <for loop>]

[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
import math
[math.sqrt(i) for i in range(10)]

[0.0,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0]

In [4]:
#Q2 ) create upper case list from l1=['hyd','mumbai','chennai','blr']
l1=['hyd','mumbai','chennai','blr']
[i.title() for i in l1]

['Hyd', 'Mumbai', 'Chennai', 'Blr']

In [5]:
#Q3) create lower case of l2=['Hyd', 'Mumbai', 'Chennai', 'Blr']
l2=['Hyd', 'Mumbai', 'Chennai', 'Blr']
[i.lower() for i in l2]

['hyd', 'mumbai', 'chennai', 'blr']

In [10]:
l2=['Hyd', 'Mumbai', 'Chennai', 'Blr']
#sum of indexes of all elements
l3=[l2.index(i) for i in l2]
sum(l3)

6

$pattern -2$

**for loop - if condition**

In [ ]:
#syntax
#[<output> <for loop> <if condition>]

In [12]:
#Q5) l1=['Hyd', 'Mumbai', 'Chennai', 'Blr']
# ans = ['Mumbai','Chennai']
# we want elements which are len of element>4
l1=['Hyd', 'Mumbai', 'Chennai', 'Blr']
[i for i in l1 if len(i)>4]

['Mumbai', 'Chennai']

In [14]:
l1=['Hyd', 'Mum#bai', 'Chen#nai', 'Blr']
[i for i in l1 if '#' in i]

['Mum#bai', 'Chen#nai']

In [17]:
l1=['Hyd', 'mumbai', 'chennai', 'Blr']
#get the items with first capital letter
[i for i in l1 if i[0].isupper()]

['Hyd', 'Blr']

In [25]:
str1='omkar.nallagoni@cognizant.com,virat.kohli@rcb.com,rohit.sharma@mi.com'
l1=str1.split(',')
l1[0].index('.')
l1[0][:l1[0].index('.')]

'omkar'

In [26]:
str1='omkar.nallagoni@cognizant.com,virat.kohli@rcb.com,rohit.sharma@mi.com'
l1=str1.split(',')
for i in l1:
    print(i[:i.index('.')])

omkar
virat
rohit

In [30]:
str1='omkar.nallagoni@cognizant.com'
str1
str1[6:str1.index('@')]

'nallagoni'

In [28]:
str1='omkar.nallagoni@cognizant.com,virat.kohli@rcb.com,rohit.sharma@mi.com'
l1=str1.split(',')
[i[:i.index('.')] for i in l1]

['omkar', 'virat', 'rohit']

In [31]:
str1='omkar.nallagoni@cognizant.com,virat.kohli@rcb.com,rohit.sharma@mi.com'
l1=str1.split(',')
[i[i.index('.')+1:i.index('@')] for i in l1]

['nallagoni', 'kohli', 'sharma']

In [32]:
str1='omkar.nallagoni@cognizant.com,virat.kohli@rcb.com,rohit.sharma@mi.com'
l1=str1.split(',')
[i.reverse()[i.index('.')+1:i.index('@')] for i in l1]

AttributeError: 'str' object has no attribute 'reverse'

$Pattern-3$

**if-else**

In [ ]:
[<output> <forloop>]     ----for loop
[<output> <forloop> <if condition>]   ----for-if
[<if_output> <if> <else> <else_output> <for>]   ......if-else

**even-odd**

In [40]:
op_list=[]
for i in range(1,20):
    if i%2==0:
        op_list.append(f'{i} is even')
    else:
        op_list.append(f'{i} is odd')

op_list

['1 is odd',
 '2 is even',
 '3 is odd',
 '4 is even',
 '5 is odd',
 '6 is even',
 '7 is odd',
 '8 is even',
 '9 is odd',
 '10 is even',
 '11 is odd',
 '12 is even',
 '13 is odd',
 '14 is even',
 '15 is odd',
 '16 is even',
 '17 is odd',
 '18 is even',
 '19 is odd']

In [42]:
#<if_output> <if> <else> <else_output> <for>]
op_list=[]
[f'even :{i}' if i%2==0 else f'odd :{i}' for i in range(1,20)]

['odd :1',
 'even :2',
 'odd :3',
 'even :4',
 'odd :5',
 'even :6',
 'odd :7',
 'even :8',
 'odd :9',
 'even :10',
 'odd :11',
 'even :12',
 'odd :13',
 'even :14',
 'odd :15',
 'even :16',
 'odd :17',
 'even :18',
 'odd :19']

In [ ]:
#there is no elif concept in list comprehension