**Lambda Functions**

  - Lambda functions represents function concept
    
  - But we can write in a single line

  - Like list comprehension lambda functions also similar

  - It will decrease the time complexity

  - Always remember if we use many for loops or many conditions using multiple lines the time complexity increase

In [ ]:
**it will use a keyword lambda**

# lambda <arguments>: <expression>

$Pattern-1$

**Function with only one argument**

- function name
- argument name
- return output

In [ ]:
#syntax <function name>= lambda <argument name>: <return output>

In [2]:
def summ(n):
    return(n+10)
summ(5)
#func name=summ
#argument name=n
#return output=n+10

15

In [3]:
summ=lambda n:n+10
summ(100)

110

In [5]:
def cube(n):
    return(n**3)

cube(10)

1000

In [7]:
cube=lambda n:n**3
cube(3)

27

$pattern-2$

**2 arguments**

In [12]:
#syntax: <function name>= lambda <arg1>,<arg2>: <return output>
avg=lambda n1,n2,n3:round((n1+n2+n3)/3,2)
avg(5,6,7)

6.0

$pattern-3$

**Default Arguments**

In [17]:
avg=lambda n1,n2,n3=100:round((n1+n2+n3)/3,2)
avg(5,6)

37.0

$pattern-4$

**if-else**

In [18]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)

max(10,20)

20

In [19]:
#syntax : function name=lambda <arg1>,<arg2>: <list comprehension>
#syntax : function name=lambda <arg1>,<arg2>: <if_output> <if_condition> <else> <else_output>
max=lambda a,b:a if a>b else b
max(11,2)

11

$pattern - 5$

**Using list**

In [21]:
l=['hyd','chennai','mumbai']
#output=['Hyd','Chennai','Mumbai']
op=[]
for i in l:
    op.append(i.capitalize())

op

['Hyd', 'Chennai', 'Mumbai']

In [36]:
#syntax - lambda <variable>:<output>,<iterator>
l=['hyd','chennai','mumbai']
lambda i:i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

**map**

- the function and iterator are available now

- we need to map both

In [29]:
l=['hyd','chennai','mumbai']
map(lambda i:i.capitalize(),l)

In [37]:
#apply the list to see the values
abc=['hyd','chennai','mumbai']
tuple(map(lambda i:i.capitalize(),abc))

('Hyd', 'Chennai', 'Mumbai')

- case 1: Function call with one argument
    - lambda argument: expression
    - lambda variable: return output

- case 2: function call with 2 arguments
    - lambda argument1,arg2 : expression
    - lambda variable1,var2: return output

- case 3: function call with default arguments
    - lambda argument1,arg2,arg3=25 : expression
    - lambda variable1,var2,var3=33: return output

- case 4: function call with 2 arguments and if-else statement
    - lambda arguments:if_output if_condition else else_output forloop

- case 5: Lambda operations using list
    - lambda arg: expression, iterator
    - map(lambda arg: expression, iterator)
    - list(map(lambda arg: expression, iterator))

In [41]:
l=['hyd','chennai','mumbai']
# get all capitals
list(map(lambda i:i.upper(),l))

['HYD', 'CHENNAI', 'MUMBAI']

In [53]:
l=['hyd','che#nnai','mum#bai','blr']
list(map(lambda i:'#' in i,l))

[False, True, True, False]

**Filter**

- Whenever if conditions are there use filter

In [54]:
l=['hyd','che#nnai','mum#bai','blr']
list(filter(lambda i:'#' in i,l))

['che#nnai', 'mum#bai']

In [56]:
#numbers=[1,3,2,7,6] get even numbers
numbers=[1,3,2,7,6]
list(filter(lambda i: i%2==0,numbers))

[2, 6]

In [ ]:
l1=[1,2,3,4,5]
#sum of numbers

#method 1
sum(l1)

#method 2
summ==0
for i in l1:
    summ=summ+1

print(summ)

In [64]:
#method 1
l1=[1,2,3,4,5]
test=lambda i:sum(i)
test(l1)

15

**Reduce**

- All inbuilt functions can achieve by Reduce

- Reduce is available from functools package

- level-1: reduce(lambda summ,i:summ+i,l1)

- level-2: reduce(lambda summ,i:summ+i,l1,initial_value)

    - level1 used if we want to initialize the variable(summ) with 0 as initial value
    - level2 used if we want to initialize the variable(summ) with some other number as initial value

In [68]:
#method 2
import functools
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1)

NameError: name 'reduce' is not defined

In [65]:
import functools

In [69]:
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1)

15

In [70]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1)

15

In [71]:
from random import randint
randint(1,30)

25

In [ ]:
import functools as ft
l1=[1,2,3,4,5]
ft.reduce(lambda summ,i:summ+i,l1)

In [72]:
#level 2
import functools as ft
l1=[1,2,3,4,5]
ft.reduce(lambda summ,i:summ+i,l1,100)

115

In [73]:
import functools as ft
l1=[1,2,3,4,5]
ft.reduce(lambda mul,i:mul*i,l1)

120

In [81]:
import functools as ft
l1=[1,2,3,4,5]
ft.reduce(lambda x,y:x>y,l1)

False

In [79]:
import functools
functools

In [ ]:
#maximum value using Reduce ...use if else

#Map : direct uppper lower
#filter: if conditions
#reduce: inbuilt function and initialization

In [83]:
import functools as ft
l1=[1,7,3,4,5]
ft.reduce(lambda a,b:a if a>b else b,l1)

7